<aside class="py-6 lg:col-span-3">
  <nav class="space-y-1">
    <%- include('./components/_asideLink', { text: 'Script 1', url: '#', active: true, icon: 'terminal'}) %>
    <%- include('./components/_asideLink', { text: 'Script 2', url: '#', active: false, icon: 'window-alt'}) %>
  </nav>
</aside>